/* Color Theme Swatches in Hex */
$oenir-1: #314759;
$oenir-2: #bacbd9;
$oenir-3: #75a3bf;
$oenir-4: #dceaf2;
$oenir-5: #6f7368;
/* Color Theme Swatches in Hex */
$MOTTI-1: #f24b59;
$MOTTI-2: #447ef2;
$MOTTI-3: #5e90f2;
$MOTTI-4: #f2d06b;
$MOTTI-5: #0d0d0d;

/* header */
$header-bg: $oenir-3;
$header-lang: $MOTTI-2;
/* button */
$button-bg: $oenir-1;
$button-border: $oenir-1;
$button-text: $oenir-4;

$content-title: $oenir-3;
$content-ans: $oenir-1;
$content-light: $oenir-2;
$content-strong: $oenir-3;
$content-dark: $oenir-1;
